body {
    
    background-image: url("../img/oil_bkg.jpg");
    background-size: cover;
}

.colcol, .jumbotron {
    background-color: rgba(148, 172, 175, 0.47);
    color: white;
}

.big-centric {
    text-align: center;
font-size:6em;}

.p-centric {
    
    text-align: center;
}



@media screen and (max-width: 992px) {
    
.colcol {
padding: 10px 5px;  
margin-bottom: 10px;
            
        }    
        
        
    
    
}